*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body{
    height: 100%;
    width: 100%;
    background: linear-gradient(45deg, cyan, rgba(0, 0, 255, 0.504));
}

.main{
    background-color: rgba(127, 255, 212, 0.47);
    margin: 0 auto;
    margin-top: 70px;
    border: 2px solid black;
    border-radius: 50px;
    width: 30%;
    height: 80%;
    -webkit-border-radius: 50px;
    -moz-border-radius: 50px;
    -ms-border-radius: 50px;
    -o-border-radius: 50px;
}

.button{
    background-color: black;
    font-size: 30px;
    padding: 25px;
    margin: 0 5px;
    border: 2px solid black;
    border-radius: 40%;
    -webkit-border-radius: 40%;
    -moz-border-radius: 40%;
    -ms-border-radius: 40%;
    -o-border-radius: 40%;
    cursor: pointer;
    color: whitesmoke;
}
.button:hover{
    background-color: rgba(0, 0, 0, 0.636);
}

.row{
    margin: 8px 0;
}

.row input{
    margin-top: 10px;
    padding: 20px 40px ;
    font-size: 2rem;
    border: 2px solid black;
    border-radius: 30px;
    -webkit-border-radius: 30px;
    -moz-border-radius: 30px;
    -ms-border-radius: 30px;
    -o-border-radius: 30px;
}
