*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.main{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100vw;
    background: linear-gradient(45deg, magenta, yellow);
}

.left{
    margin: 0 50px;
    height: 60%;
    width: 30%;
}

.left>img{
    height: 100%;
    width: 100%;

}

.right{
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 50px;
    margin: 50px;
    height: 90%;
    width: 70%;
}

.right>h3{
    font-weight: 500;
    font-size: 30px;
    padding: 30px;
}

.right>h2{
    font: 600;
    font-size: 30px;
    padding: 15px;
}

.right>p{
    font-size: 20px;

}